body {
    padding-top: 50px;
    background-color: orange;
    color: #000;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}

.principal h1 {
    font-size: 5em;
}

.principal p {
    font-size: 2.2em;
}